<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <iron-ajax id="hacerLogin"
      url="http://localhost:3000/apitechu/v5/usuarios/login"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>

    <div class="row">
       Email : <input type="email" value={{email::input}} ><br>
       Contraseña: <input type="password" value={{password::input}} ><br>
       <button on-click="logear">Login</button>
   </div>
   <!--El $ de aqui es para -->
   <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String,
           value:"tgartside3@nbcnews.com"
         },
         password: {
           type: String,
           value:"bl3LOpswFU"
         },
         logado:{
           type: Boolean,
           value: false
         }
       };
     }
   mostrarResultadoLogin(resultado){
     console.log("4. Llegaron los resultados")
     console.log(resultado)
     console.log("5. Proceso los resultados")
     this.logado = true
     //el evento q tengo q lanzar
     this.dispatchEvent(new CustomEvent("logado", {detail:{id:resultado.detail.response.id}}))
   }
   logear(){
     console.log("1. El usuario ha pulsado el botón")
     //para acceder a la parte del template usamos $
     this.$.hacerLogin.headers.email = this.email
     this.$.hacerLogin.headers.password = this.password
     console.log("2. Voy a enviar la petición")
     this.$.hacerLogin.generateRequest()
     console.log("3. Petición enviada")
     //this.logado = true

   }
   mostrarError(error){
     console.log("4. Llega el error")
     console.log(error)
     this.logado = false
   }
}
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
